*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
body {
	
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* header section start */
.main-content {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(6, 23, 68, 0.5),rgba(0, 0, 0, 0.5)), url(img/versity.jpg);
    background-size: cover;
    background-position: center;
}
/* university_logo */
.main-content img {
	width: 55px;
}
.main-content .logo {
	color: black;
    text-transform: uppercase;
    font-family: cursive;
    margin-left: 40px;
	font-size:30px;	
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
}
.bg-light {
    background: rgba(85, 195, 232, 0.716) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:  white;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(85, 195, 232, 0.716);
}
.btn-outline-success {
    color: rgba(69, 239, 69, 0.9);
    background-color: transparent;
    border-color:black;
}

/* header section end */



/* course css */
.heading{
	text-align: center;
	color: black;
	padding: 1rem;
	font-size: 4rem;
}
.course{
    background: rgba(85, 195, 232, 0.716) ;
}
.course .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.course .box-container .box{
	width: 25rem;
	border: 1rem solid rgba(0,0,0,0.3);
	position: relative;
	margin: 1.5rem;
}
.course .box-container .box img{
	height: 13rem;
	width: 100%;

	object-fit: cover;
}
/*.course .box-container .box  img {
    height: 35vh;
    /*width: 100%;*/


.course .box-container .box .content{
	padding:1rem; 
} 
.course .box-container .box .content .stars i{
	color: #f39c12;
	font-size: 1.7rem;
	padding: 1rem 0.1rem;
}
.course .box-container .box .content .title{
	color: black;
	font-size: 2.1rem;
	text-align: center;
	display: block;
} 
.course .box-container .box .content .title:hover{
	text-decoration: underline;
}
.course .box-container .box .content p {
    padding: 20px;
    color:black;
    font-size: 15px;
    text-align: justify;
	
}
.course .box-container .box .content .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5rem;
	border-top: 0.1rem solid rgba(0,0,0,0.3);
}
.course .box-container .box .content .info h3{
	font-size: 1.5rem;
	padding: 1rem;
	color: #666;
}
.course .box-container .box .content .info h3 i{
	color: #f39c12;
    font-size: 20.5px;
}
.course .box-container .box .price{
	position: absolute;
	top:16rem;
	right: 1rem;
	height: 8rem;
	width: 8rem;
	line-height: 8rem;
	text-align: center;
	border-radius: 50%;
	background: var(--gradient);
	color: #fff;
	font-size: 3rem;
}
/* Our team */
.our_team .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.our_team .box-container .box{
	width: 17rem;
	border: 1rem solid rgba(0,0,0,0.3);
	position: relative;
	margin: 1.2rem;
}
.our_team .box-container .box img{
	height: 13rem;
	width: 100%;

	object-fit: cover;
}


.contact{
	background-color:  rgba(54, 87, 98, 0.5);
}
.contact .heading{
	color: black;
}
.contact .row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.contact .row form{
	flex: 1 1 50rem;
	/*background: #222;*//*box background color*/
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 3rem;
	align-items: flex-start;
}
.contact .row form .box{
	height: 4rem;
	width: 40%;
	border: 0.1rem solid rgb(0, 0, 0);
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: 1.7rem;
	color:black;
	background: none;
	text-transform: none;
}
.contact .row form .box:focus{
	border-color: rgb(0, 0, 0);
}
.contact .row form .box::placeholder{
	text-transform: capitalize;
}
.contact .row form .address{
	height: 10rem;
	padding: 1rem;
	resize: none;
	width: 100%;
}
.button{
    padding:10px;
    font-size: 1.3rem;
    background-color: aqua;
    border-radius: 10px;
}
.contact .row form .btn:hover{
	background:rgba(6, 23, 68, 0.5);
	color: rgb(21, 45, 59);
}
.contact .row .image img{
	height: 80vh;
	margin-top: 2rem;
}

/* footer */
.footer .box-container .box a {
    font-size: 18px;
    display: block;
    color: black;
    padding: 4px 0;
}
.footer .box-container .box p {
    font-size: 18px;
    color: black;
    padding: 0;
    margin: 0 0 6px;
	
}
.footer {
    background: rgba(246, 243, 239, 0.676);
}
footer h1 {
    font-size: 15px;
    background-color: rgb(42, 39, 39);
    margin: 0;
    padding: 20px 0;
    color: #fff;
}
.footer .box-container .box h3 {
    font-size: 40px;
   
}

/* extra form */
.form-group {
    width: 50%;
}   

.btn-outline-success:hover {
	color: black;
	background-color: #fff;
}